@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  color: #eee;
  background-color: #212121;
  font-family: "Chakra Petch", sans-serif;
  overflow: hidden;
  touch-action: pan-x pan-y;
}

::-webkit-scrollbar {
  display: block;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1px;
}
